<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!-- 连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="172.20.10.3" port="5672" username="taotao" password="taotao"
		virtual-host="/taotao" />
		
	<!-- 定义rabbit adim -->
	<rabbit:admin connection-factory="connectionFactory" auto-startup="true" />
	
	<!-- 定义交换机 -->
	<rabbit:topic-exchange name="taotao-item-exchange" auto-declare="true"/>
	
	<!-- 定义模板 -->
	<rabbit:template id="rabbitMQTemplate" connection-factory="connectionFactory" exchange="taotao-item-exchange"/>

</beans>